<div class="row">
    <div class="card col-md" style="max-width: 240px;height: 400px;">
        <div class="card-body">
            kart
        </div>
    </div>
    <div class="card col-md" style="height: 400px;">
        <div class="card-body">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" routerLink="./nufus">Nufus</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="./personelbilgi">Personel Bilgi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="./iletisim">İletişim</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            <hr>
            <div style="padding: 15px;">
                <router-outlet />
            </div>
        </div>
    </div>
</div>