<div id="form-demo" *ngIf="data">
    <div class="widget-container">
        <dx-form [(formData)]="data">
            <dxi-item dataField="ad">
                <dxo-label template="Ad :" ></dxo-label>
            </dxi-item>
            <dxi-item dataField="soyad">
                <dxo-label template="Soyad :" ></dxo-label>
            </dxi-item>
            <dxi-item dataField="tckn">
                <dxo-label template="TCKN :" ></dxo-label>
            </dxi-item>
            <dxi-item dataField="cinsiyet">
                <dxo-label template="Cinsiyet :" ></dxo-label>
            </dxi-item>
            <dxi-item dataField="dogumTarihi">
                <dxo-label template="Doğum Tarihi :" ></dxo-label>
            </dxi-item>

        </dx-form>
    </div>

    <div *ngIf="data.id==0">
        <dx-button text="Kaydet" (onClick)="kaydet()"></dx-button>
    </div>
    <div *ngIf="data.id!=0">
        <dx-button text="Güncelle" (onClick)="guncelle()"></dx-button>
    </div>


</div>




<!-- reactive form örneği -->

<!-- 
<form [formGroup]="form" (ngSubmit)="kaydet()">

    <div class="mb-3">
        <label class="form-label">Ad</label>
        <input formControlName="ad" type="text" class="form-control">

        <div *ngIf="form.controls['ad'].status!='VALID'">Bu alan boş geçilemez!</div>

    </div>
    <div class="mb-3">
        <label class="form-label">Soyad</label>
        <input formControlName="soyad" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">TCKN</label>
        <input formControlName="tckn" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Cinsiyet</label>
        <input formControlName="cinsiyet" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">doğum Tarihi</label>
        <input formControlName="dogumTarihi" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->