<form [formGroup]="form" (ngSubmit)="kaydet()">
    <div class="mb-3">
        <label class="form-label">Ad</label>
        <input formControlName="ad" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Soyad</label>
        <input formControlName="soyad" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">TCKN</label>
        <input formControlName="tckn" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Cinsiyet</label>
        <input formControlName="cinsiyet" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">doğum Tarihi</label>
        <input formControlName="dogumTarihi" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>